<ul>
    <li><a ui-sref="start.s1" ui-sref-active="active" ng-click="f1()">Burial from a Different Dimension</a></li>
    <li><a ui-sref="start.s2" ui-sref-active="active" ng-click="f2()">Charge of the Light Brigade</a></li>
    <li><a ui-sref="start.demo" ui-sref-active="active" ng-click="f3()">Infernoid Antra</a></li>
    <li><a ui-sref="start.demo" ui-sref-active="active" ng-click="f4()">Infernoid Attondel</a></li>
    <li><a ui-sref="start.demo" ui-sref-active="active" ng-click="f5()">Infernoid Decatron</a></li>
    <li><a ui-sref="start.demo" ui-sref-active="active" ng-click="f6()">Infernoid Devyaty</a></li>
    <li><a ui-sref="start.demo" ui-sref-active="active" ng-click="f7()">Infernoid Harmadik</a></li>
    <li><a ui-sref="start.demo" ui-sref-active="active" ng-click="f8()">Infernoid Onuncu</a></li>
    <li><a ui-sref="start.demo" ui-sref-active="active" ng-click="f9()">Infernoid Patrulea</a></li>
    <li><a ui-sref="start.demo" ui-sref-active="active" ng-click="f10()">Infernoid Pirmais</a></li>
    <li><a ui-sref="start.demo" ui-sref-active="active" ng-click="f11()">Infernoid Seitsemas</a></li>
    <li><a ui-sref="start.demo" ui-sref-active="active" ng-click="f12()">Lyla, Lightsworn Sorceress</a></li>
    <li><a ui-sref="start.demo" ui-sref-active="active" ng-click="f13()">Monster Gate</a></li>
    <li><a ui-sref="start.demo" ui-sref-active="active" ng-click="f14()">One for One</a></li>
    <li><a ui-sref="start.demo" ui-sref-active="active" ng-click="f15()">Reasoning</a></li>
    <li><a ui-sref="start.demo" ui-sref-active="active" ng-click="f16()">Time-Space Trap Hole</a></li>
    <li><a ui-sref="start.demo" ui-sref-active="active" ng-click="f17()">Torrential Tribute</a></li>
    <li><a ui-sref="start.demo" ui-sref-active="active" ng-click="f18()">Upstart Goblin</a></li>
    <li><a ui-sref="start.demo" ui-sref-active="active" ng-click="f19()">Void Seer</a></li>
</ul>
